.main-container{
    background-color: pink;
    font-family: 'RocknRoll One', sans-serif;
}

.greetings{
    text-align: center;
}

.manga-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 35px;


}
